.loadingFade {
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(20, 20, 20, 0.92);
  opacity: 1;
  transition: opacity 0.7s cubic-bezier(.4,2,.6,1);
  pointer-events: all;
}

.loadingFade.isActive {
  opacity: 0;
  pointer-events: none;
}